<aside class="hidden lg:flex w-1/4 bg-dark text-white pt-12 flex-col items-end px-12">
  <div class="uppercase text-3xl mb-24 text-right">
    <p>Hello <%= Current.user.username ? Current.user.username : '' %>!</p>
  </div>

  <nav class="uppercase text-xl space-y-6 text-right">
    <%= link_to 'Cover letter', root_path, class: "hover:underline block" %>

    <%= link_to 'CV', cv_path, class: "hover:underline block" %>

    <%= link_to 'About', about_path, class: "hover:underline block" %>
  </nav>

  <nav class="text-sm text-right">
    <%= button_to 'Log out', destroy_user_session_path, method: :delete,  class: " uppercase hover:underline block mt-24" %>
  </nav>
</aside>
