<section class="max-w-3xl w-full mx-auto px-12 lg:px-0">
  <h2 class="text-3xl mb-6 lg:mb-12 text-center">Welcome!</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="w-full mb-6">
      <%= f.label :username, class: "sr-only" %>
      <%= f.text_field :username, autofocus: true, placeholder: "Username", class: "form-input bg-gray-200 w-full md:w-1/2 h-12 mx-auto block px-4 focus:ring-2 ring-dark" %>
    </div>

<!--    <div class="w-full mb-6">-->
      <%#= f.label :email, class: "sr-only" %>
      <%#= f.email_field :email, autofocus: true, placeholder: "e-mail", class: "form-input bg-gray-200 w-1/2 h-12 mx-auto block px-4 focus:ring-2 ring-dark" %>
<!--    </div>-->

    <div class="w-full mb-6">
      <%= f.label :password, class: "sr-only" %>
      <%= f.password_field :password, placeholder: "Password", class: "form-input bg-gray-200 w-full md:w-1/2 h-12 mx-auto block px-4 focus:ring-2 ring-dark" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="w-full md:w-1/2 mx-auto flex items-center mb-6">
        <%= f.check_box :remember_me, class: "bg-gray-200 form-checkbox text-dark w-5 h-5 mr-2 focus:ring-2 ring-dark" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="w-full md:w-1/2 mx-auto flex items-center mb-6">
      <%= f.submit "Log in", class: "w-full h-12 cursor-pointer bg-dark text-white focus:ring-2 ring-dark outline-none" %>
    </div>
  <% end %>

  <%#= render "devise/shared/links" %>
</section>